.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#00050d ;
  height: 3rem;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
 
}
